params {
    profile_read_length=150
    fragment_size_mean = 270
    fragment_size_sd = 27
    base_profile_name_1="${projectDir}/tools/art_illumina-2.3.6/profiles/ART_MBARC-26_HiSeq_R1.txt"
    base_profile_name_2="${projectDir}/tools/art_illumina-2.3.6/profiles/ART_MBARC-26_HiSeq_R2.txt"
    bam_to_gold="${projectDir}/scripts/bamToGold.pl"
}
