// This is parameter enables conda or mamba to install and configure all needed software packages.  
conda.enabled = true

// This is parameter lets CAMISIM use mamba instead of conda to install and configure all needed software packages.
// This is recommended for performance reasons.
conda.useMamba = true

// This parameter can be used to define a custom conda cache.
// If none is defined, nextflow will create it in the work directory.
// Note, that the directory has to exist before running the pipeline.
//conda.cacheDir="/home/jfunk/conda_cache"