params {
    
    // the paths to the distribution files to use for the read simulation
    // use wildcard or a list of paths to the distribution files ([path1, path2])
    // if this parameter is empty, CAMISIM will calculate new distributions
    distribution_files="${projectDir}/nextflow_defaults/distribution_*.txt"

    // mode for changing the abundances in different samples
    // has to be one of replicates/timeseries_lognormal/timeseries_normal/differential
    mode="differential"

    // Mean of the used log-normal distribution
    // 1 is an empirically good mean
    log_mu = 1

    // standard deviation of the used log-normal distribution
    // 2 is an empirically good sd
    log_sigma = 2

    // mean of the used normal distribution
    gauss_mu = 1

    // standard deviation of the used normal distribution
    gauss_sigma = 1

    verbose = "False"
}