params {
    base_profile_name="${projectDir}/tools/nanosim_profile/training"

    // this parameter is optional
    // the default value is: 4508
    // is the parameter is not set, CAMISIM will calculate the read length
    read_length = 4508

    // This parameter indicates, whether nanosim simulates reads in fastq format directly with "real" quality score.
    // If false, nanosim will simulate reads in fasta format and CAMISIM will convert it to fastq.
    // If true, there needs to be selected a basecaller.
    // Note, that directly simulating fastq may take longer.
    simulate_fastq_directly = false

    // The basecaller to use for the read simulation in fastq format.
    // It has to be one of these one: {albacore,guppy,guppy-flipflop}
    basecaller = "guppy"
}