params {
    // TODO: Sort and categorise arguments (e.g. read/fragment size not relevant for Nanosim)
    profile_read_length=150
    fragment_size_mean = 270
    fragment_size_sd = 27
    size = 0.05
    type="art"
    base_profile_name="${projectDir}/tools/art_illumina-2.3.6/profiles/ART_MBARC-26_HiSeq_R"
    pooled_gsa=[0,1]
    number_of_samples=2
    mode="differential"
    log_mu = 1
    log_sigma = 2
    gauss_mu = 1
    gauss_sigma = 1
    verbose = "False"
    seed = 632741178
    //seed = 552741178
    // the paths to the distribution files to use for the read simulation
    // use wildcard or a list of paths to the distribution files ([path1, path2])
    // if this parameter is empty, CAMISIM will calculate new distributions
    distribution_files="${projectDir}/nextflow_defaults/distribution_*.txt"

    // if a biom profile is given, the metagenome simulation will be exectuted from profile (biom_profile="${projectDir}/defaults/mini.biom")
    biom_profile=""
    max_strains_per_otu=2 // max strains need to be greater or equal to 2
    reference_genomes="${projectDir}/tools/assembly_summary_complete_genomes.txt"
    no_replace ="False"
    fill_up = "True"
    additional_references=""
}
