params {
    // TODO: Sort and categorise arguments (e.g. read/fragment size not relevant for Nanosim)
    profile_read_length=150
    fragment_size_mean = 270
    fragment_size_sd = 27
    seed = 651524512
    size = 0.05
    type="nanosim3"
    base_profile_name="/home/afritz/Documents/CAMISIM/tools/nanosim_profile/training"
    genomes_total=2
    pooled_gsa=[0,1]
}
