params {

    // Maximum number of strains drawn from genomes belonging to a single OTU
    // OTU is taken from the metadata file
    // max strains need to be greater or equal to 2
    max_strains_per_otu=2 

    // File pointing to reference genomes of the format: NCBI id\tScientific name\tNCBI ftp address of full genome.
    reference_genomes="${projectDir}/tools/assembly_summary_complete_genomes.txt"

    // Use sampling without replacing, so genomes are used for exactly one OTU only (decreases accuracy)
    no_replace ="False"

    // If no genomes are found for certain OTUs, fill up with previously unused genomes
    fill_up = "True"

    // File containing additional reference genomes, mapped to OTUs from the input profile
    // is optional
    additional_references=""
}