params {

    // File pointing to reference genomes of the format: NCBI id\tScientific name\tNCBI ftp address of full genome.
    reference_genomes="${projectDir}/tools/assembly_summary_complete_genomes.txt"

    // Use sampling without replacing, so genomes are used for exactly one OTU only (decreases accuracy)
    no_replace = true

    // If no genomes are found for certain OTUs, fill up with previously unused genomes
    fill_up = false

    // File containing additional reference genomes, mapped to OTUs from the input profile
    // is optional
    additional_references=""
}