params {
    profile_read_length=150
    fragment_size_mean = 270
    fragment_size_sd = 27
    base_error_rate = 0
    // This flag indicates, whether to create a "real" CIGAR string in the sam file. Note that this may take a while.
    // If this is set to false, the CIGAR will be a default one: "<Length of read>M"
    create_cigar = false
}
