// This parameters are used to enable and configure execution on slurm.
//process.executor = 'slurm'
//executor {
//    name = 'slurm'
//    memory = '64G'
//}
//process.memory = '64G'
process.time = '2h'

params {

    // The directory to save all output files to.
    // If the directory does not exist, it will be created.
    outdir = "${projectDir}/nextflow_out_all"

    // Size of a single sample in Gigabasepairs (Gbp).
    // The actual size, including mapping files, might be larger.
    size = 0.05

    // Type of the used read simulator.
    // Choose from "art_modern"/"art"/"nanosim3"/"wgsim".
    // Can be a single string or a list: ["art_modern", "nanosim3"]
    type=["art_modern", "art" ,"nanosim3", "wgsim"]

    // The number of samples to simualate reads for.
    number_of_samples=4

    // This parameter specifies whether to do the gold standard assembly per sample.
    gsa = true

    // The samples to do the gold standard assembly for ("[0,1]").
    // If the list is empty ("[]") the pooled gsa will be skipped.
    // If the parameter is set to true, all samples will be considered.
    pooled_gsa = true

    // Enable generation of hybrid Gold Standard Assemblies from multiple sequencing types.
    // Requires at least two types to be set in the 'type' parameter.
    //   true                        – create a hybrid GSA combining all types listed in 'type'
    //   ["art_modern", "nanosim3"]  – create a hybrid GSA combining only the listed types
    //                                 (must be a subset of 'type'; types absent from 'type' are ignored)
    //   false                       – no hybrid GSA
    hybrid = true

    // Custom sample combinations for merged gold standard assemblies.
    // Specify as a list of lists, e.g., [[0,1,2], [2,3,4], [5,6]]
    // Each inner list represents a group of samples to merge.
    // If empty ([]), no custom merged GSAs will be generated.
    // Example for patient-specific merging: [[0,1,2], [3,4,5]] merges samples 0-2 and 3-5 separately.
    merged_gsa_combinations = [[0,1],[5,6]]

    // This parameter specifies whether the reads should be anonymized.
    anonymization = true

    // An optional seed to get consistent results.
    // If None is used, a random seed is chosen.
    seed = 632741178

    // If a biom profile is given, the metagenome simulation will be exectuted from profile (biom_profile="${projectDir}/defaults/mini.biom").
    biom_profile=""

    // A tab-sperated file holding a genome Id and the path to reference fasta file of the genome.
    // Use either an absolute path to reference fasta file or a relative one.
    // Note, that if a relative path is used, CAMISIM will expect the reference fasta file(s) to be in the project directory.
    genome_locations_file = "${projectDir}/nextflow_defaults/metagenomic/genome_locations.tsv"

    // Taxonomy dump from the NCBI (ncbi_taxdump_file = "${projectDir}/tools/ncbi-taxonomy_20170222.tar.gz").
    // If no Taxonomy dump is set, CAMISIM will download a new one.
    ncbi_taxdump_file = "${projectDir}/tools/ncbi-taxonomy_20170222.tar.gz"

    // Path to the input metadata tsv file.
    // The file has to be in the format: genome_ID`\t`OTU`\t`NCBI_ID`\t`novelty_category.
    metadata_file = "${projectDir}/nextflow_defaults/metagenomic/meta_data.tsv"

    // Maximum number of strains drawn from genomes belonging to a single OTU
    // OTU is taken from the metadata file
    // In profile mode this is validated together with min_strains_per_otu.
    // If max_strains_per_otu = 1, exactly one genome is drawn per OTU.
    max_strains_per_otu=2

    // Minimum number of strains drawn from genomes belonging to a single OTU
    min_strains_per_otu=1
}

// Include additional configs based on given parameter
def types_list = params.type instanceof List ? params.type : [params.type]

for (sim_type in types_list) {
    if (sim_type == "art") {
        includeConfig "${projectDir}/pipelines/metagenomic/config/art.config"
    } else if (sim_type == "art_modern") {
        includeConfig "${projectDir}/pipelines/metagenomic/config/art_modern.config"
    } else if (sim_type == "nanosim3") {
        includeConfig "${projectDir}/pipelines/metagenomic/config/nanosim.config"
    } else if (sim_type == "wgsim") {
        includeConfig "${projectDir}/pipelines/metagenomic/config/wgsim.config"
    }
}

if (!params.biom_profile.isEmpty()) {

    includeConfig "${projectDir}/pipelines/metagenomic/config/profile.config"
}

includeConfig "${projectDir}/pipelines/metagenomic/config/distribution.config"

includeConfig "${projectDir}/pipelines/shared/config/conda.config"
