params {
    nanosim3 {
        base_profile_name="${projectDir}/tools/nanosim_profile/nanosim323_R10"

            // This parameter indicates, whether nanosim simulates reads in fastq format directly with "real" quality score.
            // If false, nanosim will simulate reads in fasta format and CAMISIM will convert it to fastq.
            // If true, there needs to be selected a basecaller.
            // Note, that directly simulating fastq may take longer.
            simulate_fastq_directly = true

            // Minimum simulated read length passed to NanoSim (-min). NanoSim's own default is 50.
            min_read_length = 100
    }
}