params {
    nanosim3 {
        base_profile_name="${projectDir}/tools/nanosim_profile/nanosim323_r10_hc_lomanLab"

        // This parameter indicates, whether nanosim simulates reads in fastq format directly with "real" quality score.
        // If false, nanosim will simulate reads in fasta format and CAMISIM will convert it to fastq.
        // If true, there needs to be selected a basecaller.
        // Note, that directly simulating fastq may take longer.
        simulate_fastq_directly = true
   }
}
